body{
    font-family: Arial, Helvetica, sans-serif;
}
.gradient{
    background: rgb(59,110,196);
    background: linear-gradient(90deg, rgba(59,110,196,1) 0%, rgba(51,78,160,1) 24%, rgba(35,5,85,1) 100%);
}
#btn-search{
    background: #5AA2E9;
    border: none;
}
.city-btn{
    background: #B7B7B7;
    color:black;
}
.hidden{
    display: none;
}
.bg-success{
    color:#ffffff;
}
.bg-secondary{
    background-color: #ff9710!important;
}
.bg-info{
    background-color: purple!important;
    color: #ffffff;
}
.card{
    background-color: #33475A;
    color:#ffffff;
}
.small-icon{
    width: 60px;
}
h3, h5{
    line-height: 2; 
    padding-left: 0!important;   
}